# ===============================
# IntelliJ IDEA
# ===============================
.idea/
*.iml
*.iws

# ===============================
# Maven / Gradle
# ===============================
target/
build/
.gradle/

# ===============================
# Logs
# ===============================
*.log

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Temporary files
# ===============================
*.tmp
*.swp

# ===============================
# Environment
# ===============================
.env

# ===============================
# Sonar / coverage
# ===============================
.sonar/
coverage/

# ===============================
# Misc
# ===============================
out/